@import "tailwindcss";

/* Clash Display Font */
@font-face {
	font-family: "ClashDisplay";
	src: url("./assets/fonts/clash_display/fonts/ClashDisplay-Regular.woff2")
			format("woff2"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Regular.woff")
			format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay-Extralight";
	src: url("./assets/fonts/clash_display/fonts/ClashDisplay-Extralight.woff2")
			format("woff2"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Extralight.woff")
			format("woff");
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay";
	src: url("./assets/fonts/clash_display/fonts/ClashDisplay-Light.woff2")
			format("woff2"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Light.woff")
			format("woff"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Light.ttf")
			format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay";
	src: url("./assets/fonts/clash_display/fonts/ClashDisplay-Regular.woff2")
			format("woff2"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Regular.woff")
			format("woff"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Regular.ttf")
			format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay";
	src: url("./assets/fonts/clash_display/fonts/ClashDisplay-Medium.woff2")
			format("woff2"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Medium.woff")
			format("woff"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Medium.ttf")
			format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay";
	src: url("./assets/fonts/clash_display/fonts/ClashDisplay-Semibold.woff2")
			format("woff2"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Semibold.woff")
			format("woff"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Semibold.ttf")
			format("truetype");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay";
	src: url("./assets/fonts/clash_display/fonts/ClashDisplay-Bold.woff2")
			format("woff2"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Bold.woff")
			format("woff"),
		url("./assets/fonts/clash_display/fonts/ClashDisplay-Bold.ttf")
			format("truetype");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

/* Satoshi Font */
@font-face {
	font-family: "Satoshi";
	src: url("./assets/fonts/satoshi/fonts/Satoshi-Regular.woff2") format("woff2"),
		url("./assets/fonts/satoshi/fonts/Satoshi-Regular.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/fonts/satoshi/fonts/Satoshi-Bold.woff2") format("woff2"),
		url("./assets/fonts/satoshi/fonts/Satoshi-Bold.woff") format("woff");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

/* Define Custom Font Utilities */
@theme {
	--font-clash: "ClashDisplay", sans-serif;
	--font-satoshi: "Satoshi", sans-serif;
	--color-orange: #ff4a23;
	--color-black: #151515;
	--color-blue: #774dff;
	--color-background: #fffaf5;
}

/* Custom Tailwind Font Classes */
.font-clash {
	font-family: var(--font-clash);
}

.font-satoshi {
	font-family: var(--font-satoshi);
}

body {
	scroll-behavior: smooth;
}

.center {
	@apply flex justify-center items-center;
}

/**/
/*Bounce Animation*/
@keyframes upDown {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
}

@keyframes downUp {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(15px);
	}
}

/*Bounce animation end */

/* Custom utility classes for animations */
.animate-up-down {
	animation: upDown 4s ease-in-out infinite;
}

.animate-down-up {
	animation: downUp 4s ease-in-out infinite;
}

/**/


.section-name{
	@apply font-clash font-semibold text-[40px] md:text-[60px] mb-20 
}

nav ul li {
	@apply cursor-pointer;
}

.dot-bg{
 @apply	bg-[radial-gradient(circle,#80808040_1px,transparent_1px)] bg-[size:14px_14px]
}

/** Skills Section  */
.skill {
	@apply py-10 px-10 font-clash text-xl md:text-2xl flex justify-center items-center lg:text-2xl font-semibold border-2 border-black bg-center bg-no-repeat bg-contain overflow-hidden cursor-pointer transition-all duration-300;
  }
  
  .skill span {
	@apply transition-transform duration-300 ease-in-out;
  }
  
  /* Ensure smooth rollback effect */
  .skill:hover span {
	@apply scale-110;
  }
  
  

.html {
	background: orangered;
}

.css {
	background: rgb(64, 190, 248);
}

.js {
	background: yellow;
}

.react {
	background-color: black;

	color: rgb(255, 255, 255);
}

.tcss {
	background-color: black;

	color: beige;
}

.redux {
	background-color: rgb(114, 114, 254);
	color: beige;
}
.node {
	background-color: yellowgreen;
}
.express {
	background-color: rgb(255, 255, 119);
}
.sql {
	background-color: blanchedalmond;
}
.psql {
	background-color: rgb(127, 170, 255);
}

/**/

#projects{
 
}



/*Feats Section */
/* Custom Swiper Pagination Styles */
.swiper-pagination {
	position: static; /* Move pagination below the cards */
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	background-color: #fff; /* Default color */
	opacity: 0.5;
	margin: 0 6px;
	transition: all 0.3s ease;
	
}

.swiper-pagination-bullet-active {
	background-color: #170602; /* Active dot color */
	opacity: 1;
	transform: scale(1.5); /* Slightly larger active dot */
	border: 1px #170602 solid;
	
}


#home {
	scroll-margin-top: 5000px; /* Adjust based on header height */
  }

  #skills{
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23050504' fill-opacity='0.07' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }